html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contenidor-partides {
    width: 40%;
}

.partida {
    border: solid 1px black;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.partida:hover {
    background-color: grey;
}

:focus {
    outline: none;
}

.loader {
    border: 12px solid #f3f3f3;
    border-top-color: rgb(243, 243, 243);
    border-top-style: solid;
    border-top-width: 12px;
    border-radius: 50%;
    border-top: 12px solid #6d7e8a;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s cubic-bezier(.18,.89,.32,1.28) infinite;
    animation: spin 2s cubic-bezier(.18,.89,.32,1.28) infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}