@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@700&display=swap');

html {
    width: 100%;
    height: 100%;
}

button {
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid #cdcdcd;
}

.primary {
    background-color: #84dd84;
    border: 2px solid #74bf74;
}

.notificacions {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* z-index: -999; */
}

.notificacio2 {
    /* background-color: black; */
    width: 20%;
    height: 100%;
    float: right;
    /* z-index: 99;*/
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;

    font-family: Inter;
}

.centrar {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.contenidor-partides {
    width: 100%;
}

.partida {
    border: solid 1px black;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.partida:hover {
    background-color: grey;
}

:focus {
    outline: none;
}

.loader {
    border: 12px solid #f3f3f3;
    border-top-color: rgb(243, 243, 243);
    border-top-style: solid;
    border-top-width: 12px;
    border-radius: 50%;
    border-top: 12px solid #6d7e8a;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s cubic-bezier(.18,.89,.32,1.28) infinite;
    animation: spin 2s cubic-bezier(.18,.89,.32,1.28) infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.input-code{
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    width: 11ch;
}

.code-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /* justify-content: center; */
    align-items: center;
}

.code-container button {
    margin-left: 5px;
}